<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Voie Du Salut</title>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <link rel="icon" href="img/lcroix.jpg">
</head>

<body class="size-1140">
    <!-- HEADER -->
    <header role="banner" class="position-absolute">
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
            <div class="s-12 l-2">

            </div>
            <div class="top-nav s-12 l-10">
                <p class="nav-text"></p>
                <ul class="right chevron">
                    <li><a href="index.html">Home</a></li>
                    <li><a>Documents</a>
                        <ul>
                            <li><a href="/livres">Livres</a></li>
                            <li><a href="/livrets">Livrets</a></li>
                            <li><a href="/articles">Articles</a></li>
                            <li><a>Audios</a></li>
                            <li><a>Videos</a></li>
                        </ul>
                    </li>
                    <li><a>Formations</a>
                        <ul>
                            <li><a>Cahiers D'étude</a></li>
                            <li>
                                <a>Formation en présentiel</a>
                            </li>

                            <li>
                                <a>Formation en ligne</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main role="main">
        <!-- Content -->
        <article>
            <header class="section background-dark">
                <div class="line">
                    <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Contact Us</h1>
                </div>
            </header>
            <div class="section background-white">
                <div class="line margin-bottom-60">
                    <div class="margin">

                        <div class="s-12 m-12 l-4 margin-m-bottom">
                            <div class="padding-2x block-bordered border-radius">
                                <div class="float-left hide-s">
                                    <i class="icon-sli-envelope icon3x text-primary"></i>
                                </div>
                                <div class="margin-left-70 margin-s-left-0 margin-bottom">
                                    <h3 class="margin-bottom-0">E-mail</h3>
                                    <p>contact@sampledomain.com<br> office@sampledomain.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="s-12 m-12 l-4 margin-m-bottom">
                            <div class="padding-2x block-bordered border-radius">
                                <div class="float-left hide-s">
                                    <i class="icon-sli-phone icon3x text-primary"></i>
                                </div>
                                <div class="margin-left-70 margin-s-left-0">
                                    <h3 class="margin-bottom-0">Phone Numbers</h3>
                                    <p><span class="text-primary">Infoline: 0800 4521 800 50</span><br> Office: 0450 5896 625 16<br> Office 2: 0798 6546 465 15
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line">
                    <div class="margin">
                        <!-- Contact Form -->
                        <div class="s-12 m-12 l-6">
                            <h2 class="margin-bottom-10">Leave Message</h2>
                            <form name="contactForm" class="customform" method="post">
                                <div class="line">
                                    <div class="margin">
                                        <div class="s-12 m-12 l-6">
                                            <input name="email" class="required email" placeholder="Your e-mail" title="Your e-mail" type="text" />
                                            <p class="email-error form-error">Please enter your e-mail.</p>
                                        </div>
                                        <div class="s-12 m-12 l-6">
                                            <input name="name" class="name" placeholder="Your name" title="Your name" type="text" />
                                            <p class="name-error form-error">Please enter your name.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-12">
                                    <input name="subject" class="subject" placeholder="Subject" title="Subject" type="text" />
                                    <p class="subject-error form-error">Please enter the subject.</p>
                                </div>
                                <div class="s-12">
                                    <textarea name="message" class="required message" placeholder="Your message" rows="3"></textarea>
                                    <p class="message-error form-error">Please enter your message.</p>
                                </div>
                                <div class="s-12"><button class="s-12 submit-form button background-primary text-white" type="submit">Submit Button</button></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </main>

    <!-- FOOTER -->

    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>
</body>

</html>