<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Voie Du Salut</title>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <link rel="icon" href="img/lcroix.jpg">

    <style>
        .fa {
            font-size: 16px;
            margin-right: 1%;
        }
    </style>
</head>

<body class="size-1140">
    <!-- PREMIUM FEATURES BUTTON -->
    <!-- HEADER -->
    <header role="banner" class="position-absolute">
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
            <div class="s-12 l-2">
                <a href="index.html" class="logo">
                </a>
            </div>
            <div class="top-nav s-12 l-10">
                <p class="nav-text"></p>
                <ul class="right chevron">
                    <li><a href="/">Home</a></li>
                    <li><a>Documents</a>
                        <ul>
                            <li><a href="/livres">Livres</a></li>
                            <li><a href="/livrets">Livrets</a></li>
                            <li><a>Articles</a></li>
                            <li><a>Audios</a></li>
                            <li><a>Videos</a></li>
                        </ul>
                    </li>
                    <li><a>Formations</a>
                        <ul>
                            <li><a>Cahiers D'étude</a></li>
                            <li>
                                <a>Formation en présentiel</a>
                            </li>

                            <li>
                                <a>Formation en ligne</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="/contact-us">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main role="main">
        <!-- Main Header -->
        <header>
            <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
                <div class="item">
                    <div class="s-12" style="height: 20em;">
                        <img src="img/livres.jpg" alt="">
                        <div class="carousel-content margin-bottom-10">
                            <div class="content-center-vertical line" style="margin-top: 5em;">
                                <div class="margin-top-bottom-20 ">
                                    <!-- Title -->
                                    <h1 class="text-white margin-bottom-0 text-size-60 text-m-size-30 text-line-height-1 ">Relayer L'enseignment <br>du maitre</h1>
                                    <div class="s-12 m-10 l-8 center ">
                                        <p class="text-white text-size-12 margin-margin-0 ">
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!-- Section 1 -->
        <br>
        <section class="section " style="padding: 0%; " id="docs ">
            <div class="line ">
                <h2 class="text-size-50 text-center ">Livres</h2>
                <hr class="break-small background-primary break-center ">
            </div>
        </section>
        <section class="section-small-padding background-white text-center ">
            <div class="line ">
                <div class="margin ">
                    <% books.forEach(function(entry) {%>

                        <div class="s-12 m-12 l-3 margin-m-bottom ">
                            <div class="padding-2x block-bordered ">
                                <h3 class="text-thin " style="font-weight: bold;">
                                    <%=entry.title%>
                                </h3>
                                <h3 class="text-thin " style="font-weight: bold; color: green;">

                                    <%=entry.author%>
                                </h3>

                                <div class="s-12 md-12" style="margin-bottom: 6px;width: 94%;margin-left: 3%">
                                    <img src=<%=entry.coverImageUrl%> style="width: 100%;" alt="">
                                </div>
                                <form action="/afficher/livre" method="POST">
                                    <input type="hidden" value="<%=entry.bookId%>" name="bookId">
                                    <button class="button button-dark-stroke text-size-14 " type="submit" value="OK">Ouvrir</button>
                                </form>
                            </div>
                        </div>
                        <%});%>
                </div>

            </div>
        </section>
        <!-- Section 1 -->
        <br>
    </main>
    <br>
    <!-- FOOTER -->
    <footer>


        <!-- Main Footer -->
        <section class="background-dark full-width ">
            <!-- Map -->
            <!-- Collumn 2 -->

            <div style="width: 20%; margin-left: 38.5%;height: 4em; margin-top: 1.5em; padding-left: 8%;">
                <br>
                <a href=" # " class="fa fa-facebook "></a>
                <a href="# " class="fa fa-instagram "></a>
                <a href="# " class="fa fa-twitter "></a>
            </div>

        </section>

        <!-- Bottom Footer -->

    </footer>
    <script type="text/javascript " src="js/responsee.js "></script>
    <script type="text/javascript " src="owl-carousel/owl.carousel.js "></script>
    <script type="text/javascript " src="js/template-scripts.js "></script>

</body>

</html>